<!DOCTYPE html>
<html>
<head>
  <title>Parasimeter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:700,400' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id="page" class="main_content">
	  <div id="header">
	  	<%= link_to "", root_url, id: "logo" %>
	  	<div id="follow">
		  	<a href="http://www.facebook.com/parasimeter">follow us</a>
 	  	</div>
	  </div>
	  
	  
	
		<div id="yield">
			<%= yield %>			
		</div>

	</div>
</body>
</html>
